<section class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
                <div class="section-box-banner banner-content">
                    <div class="content">
                        <div>
                            <h1>{{"Banner.Pretitle" | translate}}</h1>
                        </div>
                        <div class="banner-title">
                            <h3>Li's Sandwich.</h3>
                            <h5>Découvrez la focaccia avec nos sandwichs gourmands</h5>
                        </div>
                        <div class="banner-description">
                            <p [innerHTML]='"Banner.Description" | translate' class="mt-4"></p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-12 col-md-6">
                <div class="section-box-banner banner-horaire-content">
                    <div class="content">
                        <h4 style="text-align: center; color:#bc4749;">{{"Banner.Horaire" | translate}}</h4>
                        <div class="banner-description">
                            <p [innerHTML]='"Banner.HoraireDescriptionHoraire" | translate' class="mt-4"></p>            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

