@import "./../../../../variables.scss";

/* Styles pour la section des emplois */
.section#jobs {
    max-width: 100%;
    margin: auto;

    .container-jobs {
        width: 1110px;
        height: 903.8px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px; /* Espacement entre les éléments de la grille */

        .list-menu {
            flex: 1;
            max-width: 25%; /* Ajustez cette largeur selon vos besoins */
        }

        .composant-menu {
            flex: 1;
            max-width: 75%; /* Ajustez cette largeur selon vos besoins */
        }
    
    }

    .jobs {
        .title-tab-content {
            color: #bc4749;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 5px;

            .company-tab-content {
                color: #ffc300;
            }
        }
        a.active {
            background-color: #bc4749 !important;
            color: #ffc300 !important;
            border-color: transparent !important;
            border-radius: 0px;
        }
        
        a:hover {
            background-color: #bc4749 !important;
            color: #ffc300 !important;
            border-color: transparent !important;
            border-radius: 0px;
        }
        
        a {
            display: inline-block;
            text-decoration: none;
            text-decoration-skip-ink: auto;
            color: inherit;
            position: relative;
            transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
            cursor: pointer;
            display: flex;
            align-items: center;
            width: 100%;
            background-color: transparent;
            height: 42px;
            padding: 0 20px 2px;
            text-align: left;
            white-space: nowrap;
            font-family: $CodeFont;
            font-size: 13px;
            color: #0a192f;
        }
        

        .job-time {
            font-family: $CodeFont;
            font-size: 13px;
            font-weight: normal;
            letter-spacing: 0.05em;
            color: #ffc300;
            margin-bottom: 30px;
        }
        
        .job-description {
            margin-bottom: 20px;
        }

        .job-description-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px; /* Espacement entre les éléments de la grille */
            margin-bottom: 20px;
        }

        .image-description-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;

            .job-image {
                width: 100%; /* Pour s'adapter à la taille de la grille */
                height: 150px; /* Hauteur fixe pour uniformiser les images */
                object-fit: cover; /* Pour couvrir l'image tout en gardant le rapport de l'image */
                margin-bottom: 10px;
                border: 1px solid #ffc300;
                border-radius: 5px;
            }

            .description-text {
                text-align: center;
                p {
                    margin: 0;
                    font-size: 16px;
                    color: #0a192f;

                    &.sandwich-description {
                        margin-top: 10px;
                        font-style: italic;
                        color: #bc4749;
                    }
                }
            }
        }
    }

    @media (min-width: 992px) and (max-width: 1300px){
        .container-jobs {
            width: 100%;
            max-width: 1110px;
            height: auto;
        }

        .list-menu {
            max-width: 35%; /* Ajustez cette largeur selon vos besoins */
        }

        .composant-menu {
            max-width: 65%; /* Ajustez cette largeur selon vos besoins */
        }
    }

    @media (max-width: 768px) {
        .container-jobs {
            width: 100%;
            max-width: 100%;
            height: auto;
            flex-direction: column;
        }

        .list-menu, .composant-menu {
            max-width: 100%;
        }
    }
}
