@import "./../../../../variables.scss"; // Make sure this path is correct

.contact {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  height: 100vh;
  display: table;

  .container {
    display: table-cell;
    vertical-align: middle;
  }

  .contact-title {
    font-size: 2.5em;
    font-weight: 600;
    color: $LightestSlate;
    margin: auto;
    width: fit-content;
  }

  .contact-description {
    font-size: 1em;
    color: $LightestSlate;
    margin-bottom: 30px;
  }

  .contact-methods {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .contact-method {
      flex: 1;
      margin: 20px;
      max-width: 300px;
      text-align: center;

      i {
        font-size: 2em;
        color: $Green;
      }

      h5 {
        font-size: 1.25em;
        margin: 10px 0;
      }

      p {
        font-size: 1em;
        color: $LightSlate;
        margin: 5px 0;
      }

      a {
        color: $Green;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contact {
    height: 100vh;
    padding: 0 !important;
    margin: 0 auto !important;
    display: table;

    .container {
      display: table-cell;
      vertical-align: middle;
    }

    .contact-methods {
      flex-direction: column;

      .contact-method {
        margin: 10px auto;
        max-width: 90%;
      }
    }
  }
}
